<!--Defines the HTML template associated with the root AppComponent.-->
<nb-layout>
  <nb-layout-header>
    <div style="display: flex; flex-direction: row; flex-grow: 1; justify-content: flex-start; z-index: 1;">
      <a href="" target="_blank">
        <img src="../assets/images/logo/logo.svg" alt="logo" width="133" height="133" style="cursor: pointer; outline: none;">
      </a>
    </div>

    <div style="display: flex; justify-content: flex-end; z-index: 1;">
      <button nbButton
              routerLink="/dashboard"
              ghost
              shape="round"
              style="text-transform: capitalize; font-size: 1.4rem; letter-spacing: 0.075em;">
        {{'Dashboard'}}</button>
      <button nbButton
              routerLink="/achievements"
              ghost
              shape="round"
              style="text-transform: capitalize; font-size: 1.4rem; letter-spacing: 0.075em;">
        {{'Achievements'}}</button>

    </div>

  </nb-layout-header>

  <router-outlet></router-outlet>
  <app-messages></app-messages>
</nb-layout>
